span.card_title {
    height: 2.67rem;
    line-height: 1.33rem;
    text-align: left;
    font-size: .83rem;
    text-transform: capitalize;
    color: black;
    padding: 0.33rem;
}

.card {
    display: flex;
    flex-flow: column;
    margin: 1.33rem;
    width: 8.85rem;
    cursor: pointer;
    height: 14rem;
}

span.card_title {
    height: 1.33rem;
    line-height: 1.33rem;
    text-align: left;
    font-size: 0.83rem;
    text-transform: capitalize;
    color: black;
    padding: 0.33rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card img {
    width: 8.67rem;
    height: 12rem;
}

span.no-results {
    padding: 6.67rem;
    font-size: 0.83rem;
    color: black;
}

.card:last-child {
    margin-bottom: 13.33rem;
}

.populars .card:last-child {
    margin-bottom: 0rem;
}

@media (max-width:400px)  { 
    .populars:last-child .card:last-child {
        margin-bottom: 13.33rem;
    }
}