footer {
    position: fixed;
    width: 100%;
    background: black;
    bottom: 0;
    max-height: 13.33rem;
    font-size: .75rem;
}

section.footer-links, section.copy-rights {
    text-align: left;
    padding: 0.67rem 3.33rem;
}

.footer-links a {
    margin: 1.33rem 0.33rem;
    color: gray;
    text-decoration: none;
}

.footer-links a:last-child {
    border: none;
}

.footer-links a {
    padding-right: .67rem;
    color: gray;
    text-decoration: none;
    border-right: 1.33px solid gray;
}

.copy-rights {
    text-align: left;
    color: gray;
    padding-top: 0rem !important;
}

.footer-links a:first-child {
    margin-left: 0;
}

.social-links a {
    padding-right: 1.33rem;
}

.social-links a svg {
    width: 2rem;
    height: 2rem;
    color: white;
}

section.footer-img-links {
    display: flex;
    justify-content: space-between;
}

.social-links,
.appstore-links {
    padding: 2.67rem 3.33rem;
    padding-top: .67rem;
    display: flex;
    flex-wrap: wrap;
}

section.footer-links {
    padding-top: 1.33rem;
}

.appstore-links img {
    height: 2.67rem;
}

@media (max-width:1000px)  { 
    .footer-img-links {
        display: none !important;
    }
    .copy-rights {
        padding-bottom: 2rem !important;
    }
}