section.modal-window {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
    overflow: auto;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.program-details {
    width: 80%;
    max-width: 40rem;
    display: flex;
    flex-flow: column;
    background: #000000e3;
    border: 2px solid #1a76d2;
    border-radius: 8px;
}

.program-details img {
    width: 16rem;
    height: 20rem;
    margin: 0 auto;
    padding: 1rem;
}

span.hero-title {
    height: 4rem;
    line-height: 4rem;
    border: 3px solid #1a76d2;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.modal-window span {
    color: white;
}

span.hero-description, span.hero-year, span.hero-funfact {
    text-align: left;
    padding: 1rem;
    font-size: 1.25rem;
}

.program-details button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}