.main {
    display: flex;
    height: calc(100vh - 5rem);
    width: 100%;
    flex-flow: column;
}

.loading {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.loading span {
    color: black;
    font-size: .67rem;
}

.populars {
    text-decoration: none;
}

.title-header {
    position: fixed;
    width: 100%;
    top: 3.33rem;
    background: black;
    color: white;
    padding: 0 3.33rem;
    text-align: left;
    height: 3.33rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.items-list {
    display: flex;
    padding-left: 2rem;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.title-header span {
    line-height: 3.33rem;
    font-size: 1.067rem;
}